.color-text{
    color:  #3b3b3b !important;
    font-weight: 600;
    font-size: 11px;
    font-family: var(--font-family-Inter);
}
.btn {
    font-weight: 600  !important;
    border-radius: 2.25rem  !important;
    border: transparent  !important;
    color: hsl(0, 0%, 100%) !important;
    padding: .8em !important;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 16px  !important;
    cursor: pointer;
    font-family: var(--font-family-Inter);
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    width: 150px;
    gap: 2rem;
    transition: all 0.5s ease-in;
    margin-top: 1rem;
    margin-bottom: 1rem;
    letter-spacing: 0.85px;
}

.btn-dark-cyan {
    background: hsl(110.66deg 100% 32.75%) !important;
    border: 2px solid hsl(0, 0%, 95%) !important;
    color: hsl(0, 0%, 100%) !important;
}

.sss > a:before{
    background: #ffffff00 !important;
}
.btn-dark-cyan:hover {
    background: hsl(111, 91%, 27%) !important;
    border: 2px solid hsl(0, 0%, 95%) !important;
    color: hsl(0, 0%, 100%) !important;
}

.selector-de-texto {
    user-select: none;
}
.selector-de-texto-DR {
    cursor: default;
    user-select: none;
}

.text-justify{
    text-align: justify;
}

.text-center{
    text-align: center;
}

.font-weight-900{
    user-select: none;
    font-weight: 900;
}

.separacion-icon{
    padding-left: 5px;
    padding-right: 5px;
}

.mapa-border{
    border-radius: 2rem;
}

.aligm_footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.aligm_img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-contact{
    display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 1.5rem;
}

.text-contect{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.border-input{
    border-radius: 0.85rem;
    border: 1px solid #1aa7008f;
    height: 50px;
}

.text-colors{
    color: #fff;
   font-size: 1rem;
   letter-spacing: 0.06rem;
}

.containers {
    max-width: 12200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}

.main-video-container {
    flex: 1 1 400px;
    background-color: #fff;
    padding: 15px;
}

.main-video {
    margin-bottom: 7px;
    width: 100%;
}

.main-vid-title {
    font-size: 1.5rem;
    color: #000;
    font-weight: bold;
}

.video-list-container {
    flex: 1 1 300px;
    border-left: 2px solid #eee;
    background-color: #fff;
    padding: 15px;
}

.list {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border: 1px solid #1aa700;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10px;
}

.list:last-child {
    margin-bottom: 0;
}

.list.active {
    background-color: #1aa700;
}

.containers .video-list-container .list.active .list-title {
    color: #fff;
}

.list-video {
    width: 100px;
    border-radius: 5px;
}

.list-title {
    font-size: 17px;
    color: #444;
}

.flex-inputs{
    display: flex;

}
.btn-buscar-align{
    margin-top: 26px;
    margin-left: 0.25rem;
}
.card-status{
    background: #1ebf0c;
    padding: 0.5rem;
    border-radius: 0.75rem;
    color: white !important;
}

.estado-normal {
    background: #1ebf0c !important;
}

.estado-pagar {
    background: orange !important;
}

.estado-deuda {
    background: red !important;
}

.rol-admin{
    background: #0cbfa1 !important;
}

.rol-user{
    background: orange !important;
}

@media (max-width:1200px) {
    .containers {
        margin: 0;
    }

    .video-list-container {
        border: none !important;
        padding: 15px !important;
    }

    .document-list-container{
        border: none !important;
        padding: 15px !important;
    }
    .div{
        width: 100%;
    }
}

@media(max-width:500px) {
    .flex-inputs{
        display: block !important;

    }
    .btn-buscar-align{
        margin-top: 15px;
        margin-left: 0rem;
    }
}

@media(max-width:400px) {
    .video-list-container {
        border: none !important;
        padding: 15px !important;
    }

    .main-vid-title {
        font-size: 15px;
        text-align: center;
    }

    .list {
        flex-flow: column;
        gap: 10px
    }

    .list-video {
        width: 100%;
    }

    .list-title {
        font-size: 15px;
        text-align: center;

    }

    .document-list-container{
        border: none !important;
        padding: 15px !important;
    }
    .main-document-title{
        font-size: 15px;
        text-align: center;
    }

    .list-document{
        width: 100%;
    }

    .div{
        width: 100%;
    }

    .flex-inputs{
        display: block;

    }
    .btn-buscar-align{
        margin-top: 15px;
        margin-left: 0rem;
    }
}

@media(max-width:950px) {
    .div{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .details-row {
        display: none;
    }
    .details-row.active {
        display: table-row;
    }
    .toggle-details {
        display: inline-block;
        cursor: pointer;
        color: #1c3faa;
        text-decoration: none;
    }
    .mobile-hidden {
        display: none;
    }
    .btn-mas{
        border-radius: 50%;
        width: 30px;
        height: 30px;
        border: 2px #009800 solid;
        color: #009800;
    }
}
@media (min-width: 769px) {
    .toggle-details {
        display: none;
    }
    .details-row {
        display: none;
    }

}

.wrapper {
    display: flex;
    padding: 15px;
    justify-content: center;
}

.collapsible {
    max-width: 450px;
    overflow: hidden;
    font-weight: 500;
    width: 100%;
}

.collapsible input {
    display: none;
}

.collapsible .collapsible-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-weight: 500;
    background: #1aa700;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    color: #fff;
    margin-bottom: 10px;
    padding: 15px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 15px;
    z-index: 1;
    letter-spacing: 0.065rem;
}

.collapsible .collapsible-card img {
    transition: transform 0.3s ease;
    transform: rotate(0deg);
    /* Agregamos transición para la rotación */
}

.collapsible .collapsible-card label:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
}

.collapsible input:checked+.collapsible-card label:after {
    transform: rotate(90deg);
}

/* Agregamos regla para rotar la imagen cuando la clase 'rotated' está presente */
.collapsible .collapsible-card img.rotated {
    transform: rotate(90deg);
}

.collapsible-text {
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.collapsible input:checked~.collapsible-text {
    max-height: 100%;
    padding-bottom: 20px;
    background: #fff;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    opacity: 1;
    top: 0;
    border: 1px solid #1aa700;
    padding-top: 20px;
    border-radius: 15px;
    border-top: 5px solid #1aa700;
}

.collapsible-text h2 {
    margin-bottom: 10px;
    padding: 15px 15px 0;
    color: #1c1c6b;
}

.collapsible-text p {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    line-height: 1rem;
    text-align: justify;
    color: #333;
}



.btn-login-cyan {
    background: hsl(0, 0%, 100%) !important;
    border: 2px solid hsl(110.66deg 100% 32.75%) !important;
    color: hsl(110.66deg 100% 32.75%) !important;
}


.btn-login-cyan:hover {
    background: hsl(111, 91%, 27%) !important;
    border: 2px solid hsl(0, 0%, 95%) !important;
    color: hsl(0, 0%, 100%) !important;
}

.btn-botton{
    margin-bottom: 0.5rem;
}
